* {
  box-sizing: border-box;
}
body {
  margin: 0;
  /*border: solid*/
}

#main {
  position: fixed;
  border: solid;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#grid{
  background: #6EE3C0;
}

.row {
  display: flex;
}

.row div {
  width: 15px;
  height: 15px;
}

.off {
  border-color: #6EE3C0;
  /*border: outset 1px*/
}

.on {
  background: #AD77E4;
  border: outset 1px;
  /*border-radius: 30%;*/
  /*transition: background-color 0.7s, border-color 0.1s;*/
}
